@import url("../styles.css");
#header-bar {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-bar-logo {
    font-weight: bold;
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4rem;
    padding: 1.1rem 0;
}

.header-bar-options {
    visibility: hidden;
}

.header-bar-options-item {
}

.header-bar-options-item:hover {
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .header-bar-options {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 1rem;
    }

    .header-bar-options-item {
        margin: 0 1rem;
        padding: 1.5rem 0;
        cursor: pointer;
    }
}