<div class="dropdown-menu" id="maze-dropdown-menu">
    <div class="dropdown-content">
        <div class="dropdown-item" id="dropdown-username">Username</div>
        <div class="dropdown-item" id="listed-items">
            <a href="#">My Listed Items</a>
        </div>
        <div class="dropdown-item" id="history">
            <a href="#">Buy/Sell History</a>
        </div>
        <div class="dropdown-item" id="logout">
            Logout
        </div>
    </div>

    <script src="../../scripts/components/account-menu-controller.js"></script>
    <script src="../../scripts/authentication/logout.js" type="module"></script>
</div>