<div class="dropdown-menu" id="maze-dropdown-menu">
    <div class="dropdown-content">
        <div class="dropdown-item" id="dropdown-username">Username</div>
        <div class="dropdown-item" id="login">
            <a href="#">My Listed Items</a>
        </div>
        <div class="dropdown-item" id="login">
            <a href="#">Buy/Sell History</a>
        </div>
        <div class="dropdown-item" id="register">
            <a href="#">Logout</a>
        </div>
    </div>
</div>