<div id="confirmation-modal-background" class="confirmation-modal">
    <link rel='stylesheet' href="/styles/components/confirmation-modal.css">

    <div class="confirmation-modal-content">
        <div class="confirmation-modal-title">
            <span class="confirmation-modal-close">&times;</span>
        </div>
        <div class="confirmation-modal-message"></div>
        <div class="confirmation-modal-button-area">
            <div class="confirmation-modal-accept-button">Yes</div>
            <div class="confirmation-modal-reject-button">No</div>
        </div>
    </div>
</div>