<!-- Container for the image gallery -->
<div class="container">
    <link rel="stylesheet" href="/styles/components/gallery.css">
    </link>

    <div class="gallery-container">
        <div class="gallery-title">Trending Items</div>
        <div class="gallery-nav-button left-nav-button">
            <img src="/images/gallery/left-nav-button.png">
        </div>
        <div class="gallery-row">
            <div class="gallery-item">
                <img src="/images/gallery/razer-mouse.png">
            </div>
            <div class="gallery-item">
                <img src="/images/gallery/razer-keyboard.png">
            </div>
            <div class="gallery-item">
                <img src="/images/gallery/lenovo-laptop.png">
            </div>
            <div class="gallery-item">
                <img src="/images/gallery/samsung-ssd.png">
            </div>
            <div class="gallery-item">
                <img src="/images/gallery/generic-monitor.png">
            </div>
        </div>
        <div class="gallery-nav-button right-nav-button">
            <img src="/images/gallery/right-nav-button.png">
        </div>
    </div>

    <script src="/scripts/components/gallery.js"></script>
</div>