<nav id="header-bar">
    <!-- <base href="http://127.0.0.1:5501/"> -->
    <span id="nav-menu-container">
        <div id="nav-bar1"></div>
        <div id="nav-bar2"></div>
        <div id="nav-bar3"></div>
    </span>
    <div class="header-bar-logo">
        <div class="logo"><a href="../../index.html">Marketplace</a></div>
    </div>
    <div id="account-picture"></div>
    <div class="dropdown-menu" id="maze-dropdown-menu">
        <div class="dropdown-content">
            <div class="dropdown-item" id="dropdown-username">Not logged in</div>
            <div class="dropdown-item" id="login">
                <a href="html/authentication/login.html">Login</a>
            </div>
            <div class="dropdown-item" id="register">
                <a href="html/authentication/register.html">Register</a>
            </div>
        </div>
    </div>

    <script src="../../scripts/components/sidebar-controller.js"></script>
    <script src="../../scripts/components/account-menu-controller.js"></script>
</nav>

<!-- <div class="search-container">
        <input type="text" class="searchTerm" placeholder="Search...">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div> -->