<nav id="header-bar">
    <span id="nav-menu-container">
        <div id="nav-bar1"></div>
        <div id="nav-bar2"></div>
        <div id="nav-bar3"></div>
    </span>
    <div class="header-bar-logo">
        <div class="logo"><a href="/index.html">Marketplace</a></div>
    </div>
    <div id="account-picture"></div>
    <div id="account-menu-area"></div>

    <script src="/scripts/components/load-account-menu.js"></script>
    <script src="/scripts/components/sidebar-controller.js"></script>
    <script src="/scripts/components/account-menu-controller.js"></script>
</nav>

<!-- <div class="search-container">
        <input type="text" class="searchTerm" placeholder="Search...">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div> -->