<div id="modal-background" class="modal">
    <link rel="stylesheet" href="/styles/components/modal.css">
    <link rel="stylesheet" href="/styles/components/modal-add-item.css">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="close">&times;</div>
        <div class="modal-title">Add New Item for Sale</div>
        <div class="modal-input-area">
            <input type="file" id="fileUpload" />
            <div class="modal-input"><input type="text" id="item-name" placeholder="Item Name" maxlength="10"></div>
            <div class="modal-input"><input type="text" id="item-price" placeholder="Price" maxlength="20"></div>
            <button id="add-button">Add Item</button>
        </div>
    </div>

    <script src='/scripts/components/modal.js'></script>
</div>