<nav id="side-bar">
    <link rel="stylesheet" href="/styles/components/sidebar.css">

    <div class="side-bar-options">
        <div class="side-bar-options-logo">Marketplace</div>
        <div class="side-bar-options-group">
            <div class="side-bar-options-group-title">General</div>
            <div class="side-bar-options-item">New Arrivals</div>
            <div class="side-bar-options-item">Trending</div>
            <div class="side-bar-options-item">Most Viewed</div>
        </div>
        <div class="side-bar-options-group">
            <div class="side-bar-options-group-title">Categories</div>
            <div class="side-bar-options-item">Mouse</div>
            <div class="side-bar-options-item">Keyboard</div>
            <div class="side-bar-options-item">Laptop</div>
            <div class="side-bar-options-item">Monitor</div>
            <div class="side-bar-options-item">SSD</div>
            <div class="side-bar-options-item">GPU</div>
            <div class="side-bar-options-item">RAM</div>
        </div>
    </div>
</nav>