<nav id="side-bar">
    <link rel="stylesheet" href="/styles/components/sidebar.css">

    <div class="side-bar-options">
        <div class="side-bar-options-header">
            <img src="/images/sidebar/sidebar-left-arrow.png" id="side-bar-back-button">
            <div class="side-bar-options-logo">Marketplace</div>
        </div>
        <div class="side-bar-options-group">
            <div class="side-bar-options-group-title">General</div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-new.png">
                New Arrivals
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-trending.png">
                Trending
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-most-viewed.png">
                Most Viewed
            </div>
        </div>
        <div class="side-bar-options-group">
            <div class="side-bar-options-group-title">Categories</div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-mouse.png">
                Mouse
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-keyboard.png">
                Keyboard
            </div>
            <div class="side-bar-options-item">
                <a href="/html/itemCategory/laptop.html">
                    <img src="/images/sidebar/sidebar-laptop.png">
                    Laptop
                </a>
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-monitor.png">
                Monitor
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-ssd.png">
                SSD
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-gpu.png">
                GPU
            </div>
            <div class="side-bar-options-item">
                <img src="/images/sidebar/sidebar-ram.png">
                RAM
            </div>
        </div>
    </div>
</nav>