@import url('../../styles.css');
.page-title {
    text-align: center;
    margin: 4rem 2rem;
    font-weight: bold;
}

.message-area {
    margin: 3rem auto;
    font-size: 1rem;
    text-align: center;
}

@media screen and (max-width: 900px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid rgba(211, 211, 211, 0.384);
    }
    tr:nth-child(odd) {
        background-color: rgba(211, 211, 211, 0.384);
    }
    td {
        /* Behave  like a "row" */
        border: none;
        /* border-bottom: 1px solid #eee; */
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 16px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }
    /* Label the data */
    td:nth-of-type(1):before {
        content: "Date";
    }
    td:nth-of-type(2):before {
        content: "Category";
    }
    td:nth-of-type(3):before {
        content: "Item";
    }
    td:nth-of-type(4):before {
        content: "Buyer";
    }
    td:nth-of-type(5):before {
        content: "Seller";
    }
    td:nth-of-type(6):before {
        content: "Price(S$)";
    }
}

@media screen and (min-width: 900px) {
    .table-area {
        overflow-x: auto;
    }
    .transaction-table {
        margin: 2rem auto;
        border-spacing: 0;
    }
    th, td {
        padding: 0.5rem 2rem;
    }
    th {
        text-align: left;
        background-color: var(--general-button-color);
        color: var(--primary-text-color);
        margin: 10rem;
        font-weight: normal;
    }
    tr:nth-child(odd) {
        background-color: rgba(211, 211, 211, 0.384);
    }
    .message-area a {
        cursor: pointer;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: bold;
    }
}