@import url('../user/modal-dropdown.css');

.modal-content {
    margin: 5rem auto;
}

.modal-title {
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}

.close {
    position: absolute;
    right: 0;
    top: -6px;
    padding: 0;
}

.modal-input-area {
    margin: 2rem 0;
}

#modal-image-preview {
    display: block;
    margin: 0 auto;
    max-width: 10rem;
    height: auto;
    text-align: center;
}

.file-upload-button {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 1rem auto;
    max-width: 40%;
    text-align: center;
}

#modal-file-upload {
    display: none;
}

hr {
    margin: 2rem 0;
    border: solid 1px lightgray;
}

.modal-input {
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 0;
    border: solid 1px lightgray;
}

.modal-input input {
    border: none;
    margin: 0 1rem;
    width: 80%;
}

#add-item-button {
    font-weight: bold;
    display: block;
    margin: 2rem auto;
    padding: 1rem 0;
    width: 100%;
    border: solid 1px gray;
    border-radius: 0.2rem;
    color: var(--primary-text-color);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    #modal-background {
        overflow: hidden;
    }

    .modal-content {
        padding: 1.5rem;
    }

    .modal-input-area {
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
    }

    .modal-image-area {
        width: 40%;
        margin: auto 0;
    }

    .modal-form-area {
        width: 60%;
    }

    #add-item-button {
        margin: 0;
    }

    hr {
        display: none;
    }
}