@import url('../styles.css');

.utility-bar {
    margin: 2rem;
    text-align: center;
}

#add-item {
    background-color: var(--general-button-color);
    color: var(--primary-text-color);
    width: 80px;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.items-area {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto;

}

.message-area {
    margin: 5rem auto;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .items-area {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        margin: 0rem 2rem;
    }
}
