.input-errors-area {
    margin: 2rem 0;
}

.input-error {
    background-color: var(--alert-error-color);
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 1rem;
    margin: 1rem 0;
}