@import url("../styles.css");

#side-bar {
    width: 0%;
    position: absolute;
    height: 100%;
    z-index: 1;
    background-color: white;
    transition: 0.3s;
}

.side-bar-options {
    width: 150px;
    visibility: hidden;
}

.side-bar-options-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    
}