@import url('../styles.css');
.utility-bar {
    margin: 2rem 0.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.utility-bar * {
    font-size: 0.8rem;
}

.utility-bar>* {
    margin: 0 0.8rem;
}

.search-container {
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgray;
}

.search-container input {
    width: 8rem;
    height: 100%;
    padding: 0 20px;
    border: none;
}

.search-container button {
    float: right;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.searchButton img {
    width: 20px;
}

#add-item {
    background-color: var(--general-button-color);
    color: var(--primary-text-color);
    width: 80px;
    padding: 0.5rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.items-area {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
}

.message-area {
    margin: 5rem auto;
    font-size: 1rem;
    text-align: center;
}

.message-area a {
    color: var(--primary-color);
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .utility-bar {
        margin: 2rem;
    }
    .utility-bar>* {
        margin: 0 2rem;
    }
    .items-area {
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
        margin: 0rem 2rem;
    }
    .search-container input {
        width: 20rem;
        height: 100%;
        padding: 0 20px;
        border: none;
    }
}