@import url("../styles.css");
#register-area {
    margin: 3rem 1.5rem;
    padding: 30px;
}

#register-area-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#register-area-description {
    color: gray;
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 0;
}

.input-errors-area {
    margin: 2rem 0;
}

.input-error {
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 1rem;
    margin: 1rem 0;
}

.register-credentials-area {
    margin: 2rem 0;
}

.register-credentials {
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 0;
    border: solid 1px lightgray;
}

.register-credentials input {
    border: none;
    margin: 0 1rem;
    width: 80%;
}

#register-button {
    font-weight: bold;
    display: block;
    margin: 2rem auto;
    padding: 1rem 0;
    width: 100%;
    border: solid 1px gray;
    border-radius: 0.2rem;
    color: var(--primary-text-color);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

#utility-area {
    margin: 4rem 0;
    text-align: center;
}

#forgot-password-area a, #register-area a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

#register-area {
    margin: 1rem;
}

@media screen and (min-width: 700px) {
    #register-area {
        margin: 3rem 2rem;
        padding: 30px;
    }
}