:root {
    /* Fonts */
    --default-font: 'Open Sans', sans-serif !important;

    /* Colours */
    --primary-color: #ff6347;
    --primary-text-color: #ffffff;
    --alert-success-color: #dff0d8;
    --alert-warning-color: #fcf8e3;
    --alert-error-color: #f8d7da;
}