:root {
    /* Fonts */
    --default-font: 'Open Sans', sans-serif !important;

    /* Colours */
    --primary-color: #ff6347;
    --primary-text-color: #ffffff;
    --price-color: #c23504;
    --general-button-color: #40547c;
    --general-button-color-dark: #2f4858;
    --delete-button-color: #e54e77;
    --alert-success-color: #dff0d8;
    --alert-warning-color: #fcf8e3;
    --alert-error-color: #f8d7da;
}